.modal-header
  %h5.modal-title Preview Lead
  - unless params[:controller] == 'reports'
    = link_to edit_lead_path(@lead), class:'btn btn-primary btn-xs ml-2' do
      = fa_icon 'pencil', class: ''
      Edit
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  %ul.nav.nav-tabs.nav-justified
    %li{:class => ("active" if @default_tab == 'leads-detail')}
      = link_to '#tab1', class: "nav-link #{('active' if @default_tab == 'leads-detail')}", "data-toggle"=>"tab" do
        Lead Detail
    %li{:class => ("active" if @default_tab == 'site-visit-detail')}
      = link_to '#tab2', class: "nav-link #{('active' if @default_tab == 'site-visit-detail')}", "data-toggle"=>"tab" do
        Visits
    - if @lead.loan.present?
      %li{:class => ("active" if @default_tab == 'home-loan')}
        = link_to '#tab3', class: "nav-link #{('active' if @default_tab == 'home-loan')}", "data-toggle"=>"tab" do
          Loan
  .tab-content
    #tab1.tab-pane.fade{:class => ("show active" if @default_tab == 'leads-detail')}
      .row
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-2 Lead Basic Detail
          .form-group
            %span.lead-title Lead Number
            %span.lead-info
              = @lead.lead_no
        - if @company.is_allowed_field?("customer_type")
          .form-group.col-md-6
            %span.lead-title Customer Type
            %span.lead-info
              = @lead.customer_type
        - if @company.is_allowed_field?("name")
          .form-group.col-md-6
            %span.lead-title Name
            %span.lead-info
              = @lead.name
        - unless current_user.is_telecaller? || (current_user.is_executive? && @company.setting.hide_lead_mobile_for_executive)
          - if @company.is_allowed_field?("mobile")
            .form-group.col-md-6
              %span.lead-title Mobile Number
              %span.lead-info
                = @lead.mobile
        - if @company.is_allowed_field?("other_contacts")
          .form-group.col-md-6
            %span.lead-title Other Contact
            %span.lead-info
              = @lead.other_contacts
        - if @company.is_allowed_field?("email")
          .form-group.col-md-6
            %span.lead-title Email
            %span.lead-info
              = mail_to @lead.email
        - if current_user.check_source_presence
          .form-group.col-md-6
            %span.lead-title Enquiry Source
            %span.lead-info
              = @lead.source_with_call_in
        - if @company.is_allowed_field?("sub_source")
          .form-group.col-md-6
            %span.lead-title Sub source
            %span.lead-info
              = @lead.sub_source
        - if @company.is_allowed_field?("enquiry_sub_source_id")
          .form-group.col-md-6
            %span.lead-title Sub source
            %span.lead-info
              = @lead.enq_subsource&.name
        .form-group.col-md-6
          %span.lead-title Created At
          %span.lead-info
            = @lead.created_at.in_time_zone.strftime("%d %B %Y %H:%M %p")
        - if @lead.conversion_date.present?
          .form-group.col-md-6
            %span.lead-title Conversion Date
            %span.lead-info
              = @lead.conversion_date.strftime("%d %B %Y")
        - if @company.is_allowed_field?("project_id")
          .form-group.col-md-6
            %span.lead-title Enquired / Interested For
            %span.lead-info
              = @lead.project.name
        - if @company.is_allowed_field?("budget")
          .form-group.col-md-6
            %span.lead-title Budget
            %span.lead-info
              - if @lead.budget.present?
                = fa_icon "rupee"
                = Utility.to_words(@lead.budget)
              - else
                = "-"
        - if @lead.other_emails.present?
          .form-group.col-md-6
            %span.lead-title Other Emails
            %span.lead-info
              = @lead.other_emails
        - if @lead.other_phones.present?
          .form-group.col-md-6
            %span.lead-title Other Contacts
            %span.lead-info
              = @lead.other_phones
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-2 Other Details
          - if @lead.fb_ads_id.present?
            .form-group.col-md-6
              %span.lead-title Facebook Ads Id
              %span.lead-info
                = @lead.fb_ads_id
        - if @lead.property_type.present?
          - if @lead.property_type == "Residential"
            .form-group.col-md-6
              %span.lead-title Property Type
              %span.lead-info
                = @lead.property_type
            .form-group.col-md-6
              %span.lead-title Property Type
              %span.lead-info
                = @lead.residential_type.property_type
            - if @lead.residential_type.property_type == "Plot"
              .form-group.col-md-6
                %span.lead-title Plot Area
                %span.lead-info
                  = @lead.residential_type.plot_area_from
                  %b -
                  = @lead.residential_type.plot_area_to
                  = @lead.residential_type.area_unit
            - else
              .form-group.col-md-6
                %span.lead-title Config
                %span.lead-info
                  = @lead.residential_type.area_config
            - if @lead.residential_type.purpose.present?
              .form-group.col-md-6
                %span.lead-title Purpose
                %span.lead-info
                  = @lead.residential_type.purpose
          - else
            .form-group.col-md-6
              %span.lead-title Property Type
              %span.lead-info
                = @lead.property_type
            .form-group.col-md-6
              %span.lead-title Property Type
              %span.lead-info
                = @lead.commercial_type.property_type
            - if @lead.commercial_type.plot_area_from.present?
              .form-group.col-md-6
                %span.lead-title Plot Area
                %span.lead-info
                  = @lead.commercial_type.plot_area_from
                  %b -
                  = @lead.commercial_type.plot_area_to
                  = @lead.commercial_type.area_unit
            - if @lead.commercial_type.purpose.present?
              .form-group.col-md-6
                %span.lead-title Purpose
                %span.lead-info
                  = @lead.commercial_type.purpose
            - if @lead.commercial_type.purpose_comment.present?
              .form-group.col-md-6
                %span.lead-title Comment
                %span.lead-info
                  = @lead.commercial_type.purpose_comment
            .form-group.col-md-6
              %span.lead-title Attached Toilet
              %span.lead-info
                = @lead.commercial_type.is_attached_toilet
        - if @lead.company.setting.present? && @lead.company.enable_booking_done_fields
          - if @lead.booking_form.present?
            .form-group.col-md-6
              %span.lead-title Booking Date
              %span.lead-info
                =@lead.booking_date
          - if @lead.booking_form.exists?
            .form-group.col-md-6
              %span.lead-title Booking Form
              %span.lead-info
                = link_to (fa_icon("external-link", class: 'text-light')), @lead.booking_form.url(:original, false), target: '_blank', class: "btn btn-primary btn-sm"
        - if @lead.magic_fields.present?
          - @lead.magic_fields.order(created_at: :asc).each do |field|
            .form-group.col-md-6
              %span.lead-title #{field.pretty_name}
              %span.lead-info
                = @lead.send(field.name)
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-2 Enquiry Assignment
        .form-group.col-md-6
          %span.lead-title Enquiry Status
          %span.lead-info
            = @lead.status.name
        - if @company.token_status_ids.include?(@lead.status_id.to_s) && @company.is_allowed_field?("token_date")
          .form-group.col-md-6
            %span.lead-title Token Date
            %span.lead-info
              = @lead.token_date&.strftime("%d-%m-%Y")
        - if @company.is_allowed_field?("presale_stage_id")
          .form-group.col-md-6
            %span.lead-title Stage
            %span.lead-info
              = @lead.presales_stage&.name
        - if @lead.tentative_visit_planned.present?
          .form-group.col-md-6
            %span.lead-title Tentative Visit Planned
            %span.lead-info
              = @lead.tentative_visit_planned.strftime("%d-%m-%Y %I:%M %p")
        .form-group.col-md-6
          %span.lead-title Next Action Date
          %span.lead-info
            = @lead.ncd.strftime("%d %B %Y") rescue nil
        - if @company.is_allowed_field?("user_id")
          .form-group.col-md-6
            %span.lead-title Assigned To
            %span.lead-info
              = @lead.user.name rescue nil
        - if @company.setting.present? && @company.enable_meeting_executives && @company.is_allowed_field?("closing_executive")
          .form-group.col-md-6
            %span.lead-title Closing Executive
            %span.lead-info
              = @lead.postsale_user&.name rescue nil
        .form-group.col-md-6
          %span.lead-title Updated At
          %span.lead-info
            = @lead.updated_at.strftime("%d %B %Y")
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-2 Enquiry Comment
          .form-group.col-md-12
            %span.lead-title Comments
            %span.lead-info
              = @lead.comment&.gsub(/\n/, '<br/>')&.html_safe
    #tab2.tab-pane.fade{:class => ("show active" if @default_tab == 'site-visit-detail')}
      .row
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-3 Visits
          = link_to 'Add Visit',new_visit_lead_path(@lead), remote: true, class: 'btn btn-primary btn-sm'
          .w-100.mb-4
          - if @lead.visits.present?
            .table-responsive
              %table.table.table-bordered.table-hover
                %thead
                  %tr
                    %th #
                    %th Date
                    - if @company.is_sv_project_enabled
                      %th Project
                    - if @company.setting.present? && @company.enable_advance_visits
                      %th Visit Executed
                    - if @company.is_allowed_for_visits?('location')
                      %th Location
                    - if @company.is_allowed_for_visits?('surronding')
                      %th Surronding
                    - if @company.is_allowed_for_visits?('finalization_period')
                      %th Finalization Period
                    - if @company.is_allowed_for_visits?('loan_sanctioned')
                      %th Loan Sanctioned
                    - if @company.is_allowed_for_visits?('bank_name')
                      %th Bank Name
                    - if @company.is_allowed_for_visits?('loan_amount')
                      %th Loan Amount
                    - if @company.is_allowed_for_visits?('eligibility')
                      %th Eligibility
                    - if @company.is_allowed_for_visits?('loan_requirements')
                      %th Loan Requirement
                    - if @company.is_allowed_for_visits?('own_contribution_minimum')
                      %th Min Own Contribution
                    - if @company.is_allowed_for_visits?('own_contribution_maximum')
                      %th Max Own Contribution
                    - if @company.is_allowed_for_visits?('user_id')
                      %th Presale User
                    - if @company.is_allowed_for_visits?('comment')
                      %th Comments
                    %th Form
                    %th Action
                %tbody
                  - @lead.visits.includes(:user).order(created_at: :desc).each.with_index(1) do |visit, i|
                    %tr
                      %td= i
                      %td= visit.date.strftime("%d %B %Y")
                      - if @company.is_sv_project_enabled
                        %td= visit.projects.pluck(:name).join(', ') rescue nil
                      - if @company.setting.present? && @company.enable_advance_visits
                        %td= visit.is_visit_executed ? "Yes" : "No"
                      - if @company.is_allowed_for_visits?('location')
                        %td= visit.location
                      - if @company.is_allowed_for_visits?('surronding')
                        %td= visit.surronding
                      - if @company.is_allowed_for_visits?('finalization_period')
                        %td= visit.finalization_period
                      - if @company.is_allowed_for_visits?('loan_sanctioned')
                        %td= visit.loan_sanctioned
                      - if @company.is_allowed_for_visits?('bank_name')
                        %td= visit.bank_name
                      - if @company.is_allowed_for_visits?('loan_amount')
                        %td= visit.loan_amount
                      - if @company.is_allowed_for_visits?('eligibility')
                        %td= visit.eligibility
                      - if @company.is_allowed_for_visits?('loan_requirements')
                        %td= visit.loan_requirements
                      - if @company.is_allowed_for_visits?('own_contribution_minimum')
                        %td= visit.own_contribution_minimum
                      - if @company.is_allowed_for_visits?('own_contribution_maximum')
                        %td= visit.own_contribution_maximum
                      - if @company.is_allowed_for_visits?('user_id')
                        %td= visit.user_name
                      - if @company.is_allowed_for_visits?('comment')
                        %td.showmore= visit.comment
                      %td
                        - if visit.site_visit_form.exists?
                          = link_to (fa_icon("external-link", class: 'text-light')), visit.site_visit_form.url(:original, false), target: '_blank', class: "btn btn-primary btn-sm"
                      %td
                        = link_to edit_visit_lead_path(@lead, visit), remote: true, class: "btn btn-primary m-r-5", style: "padding: 4px 8px; width: auto; border-radius: 50%!important;" do
                          = fa_icon "pencil"
                        - if current_user.is_super?
                          = link_to fa_icon('trash', class: 'text-light'), delete_visit_lead_path(@lead, visit), remote: true, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure?"}
          - else
            %h3
              = "No Visits Avaliable"


    #tab3.tab-pane.fade{:class => ("show active" if @default_tab == 'home-loan')}
      .row
        .form-group.col-md-12
          %h4.lead-heading.mt-2.mb-3 Home Loan
          .w-100.mb-4
          - if @lead.loan.present?
            .table-responsive
              %table.table.table-bordered.table-hover
                %thead
                  %tr
                    %th #
                    %th Assigned To
                    %th Status
                    %th NCD
                    %th Comments
                %tbody
                  - loan = @lead.loan
                  %tr
                    %td= 1
                    %td= loan.user.name
                    %td= loan.status.name
                    %td= (loan.ncd.strftime("%d %B %Y") rescue "")
                    %td.showmore= loan.comment
          - else
            %h3
              = "Loan Not Referred"
