.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Companies
          %h1.m-0.text-dark Companies
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .box-header.row
                .box-tools.col-md-12{:style=>"top:inherit;"}
                  = link_to params.except(:action, :controller).merge!(format: :csv), class: "btn btn-primary btn-sm" do
                    = fa_icon "download"
                    Export
                  .float-right
                    .input-group
                      .input-group-btn
                        = link_to 'Add New Company', new_company_path,
                          class: 'btn btn-primary float-right btn-sm'
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Domain
                      %th.all Uuid
                      %th.all Broker Form
                      %th.all Action
                  %tbody
                    - @companies.each do |company|
                      %tr
                        %td
                          = link_to company.name, company_path(company), remote: true
                        %td= company.domain
                        %td
                          %span{id: "actualLink-#{company.id}"}
                            = company.uuid
                          %button.clipboard-btn.btn.btn-primary{"data-clipboard-text"=>company.uuid}
                            = fa_icon "copy"
                        %td
                          = link_to (fa_icon "pencil"), broker_form_company_path(company), class: "btn btn-primary btn-sm"
                        %td
                          = link_to (fa_icon "pencil"), edit_company_path(company), class: "btn btn-primary btn-sm"
          - if @companies.present?
            .pagination-custom-holder
              %strong{style: "margin-left: 0;"} Companies Count - #{@companies.total_entries}
              = will_paginate @companies, :class  =>  "ct-pag"
