.login-page
  .login-wrapper.shadow
    - if request.base_url.include?("acre-junction")
      = image_tag "aj-logo-new.png", class: "logo img-fluid"
    - else
      = image_tag "h4-logo.png", class: "logo img-fluid"
    %h4 CRM
    = form_for('user', url: user_session_path, html: {class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
      .form-group.input-icon
        .inner-addon.right-addon
          = f.password_field :password,
            autocomplete: 'off',
            placeholder: 'Password',
            class: 'form-control'
        
          %svg{:viewbox => "0 0 640 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M150.7 92.77C195 58.27 251.8 32 320 32C400.8 32 465.5 68.84 512.6 112.6C559.4 156 590.7 207.1 605.5 243.7C608.8 251.6 608.8 260.4 605.5 268.3C592.1 300.6 565.2 346.1 525.6 386.7L630.8 469.1C641.2 477.3 643.1 492.4 634.9 502.8C626.7 513.2 611.6 515.1 601.2 506.9L9.196 42.89C-1.236 34.71-3.065 19.63 5.112 9.196C13.29-1.236 28.37-3.065 38.81 5.112L150.7 92.77zM223.1 149.5L313.4 220.3C317.6 211.8 320 202.2 320 191.1C320 180.5 316.1 169.7 311.6 160.4C314.4 160.1 317.2 159.1 320 159.1C373 159.1 416 202.1 416 255.1C416 269.7 413.1 282.7 407.1 294.5L446.6 324.7C457.7 304.3 464 280.9 464 255.1C464 176.5 399.5 111.1 320 111.1C282.7 111.1 248.6 126.2 223.1 149.5zM320 480C239.2 480 174.5 443.2 127.4 399.4C80.62 355.1 49.34 304 34.46 268.3C31.18 260.4 31.18 251.6 34.46 243.7C44 220.8 60.29 191.2 83.09 161.5L177.4 235.8C176.5 242.4 176 249.1 176 255.1C176 335.5 240.5 400 320 400C338.7 400 356.6 396.4 373 389.9L446.2 447.5C409.9 467.1 367.8 480 320 480H320z"}
      .form-group
        = f.submit 'Login', class: 'btn btn-primary btn-default btn-block btn-shadow'
      .form-group
        = link_to 'Forgot Password', new_user_password_path, class: "text-link"
      %p.login-text
        By Clicking "Login" You Indicate that you have read and agree to be bound
        %span
          %u Terms of service

:css
  .login-page{
    background: linear-gradient(to right, #d8deef, #C9D6FF);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .login-wrapper {
    max-width:300px;
    width: 100%;
    padding: 20px;
    background:#fff;
    border-radius: 10px;
    text-align: center;
  }
  .login-wrapper .logo {
    max-width: 200px;
    max-height: 60px;
    margin-bottom: 20px;
    
  }
  .login-wrapper input{
    border: 1px solid #dfdfdf;
  }
  .btn-primary {
      background: linear-gradient(14deg, #74B63E 0%, rgba(23,97,253,0.6));
  }
  .btn-default {
    background: linear-gradient(14deg, #74B63E 0%, rgb(92 178 209));
    color: #fff;
  }
  .btn-shadow{
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.180);
  }
  .text-link{
    font-size: 14px;
    display: table;
    margin-left: auto;
  }
  .login-text {
    font-size: 12px;
    opacity: .5;
    text-align: left;
  }
  .input-icon {
    position: relative;
  }
  .input-icon  svg{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 12px;
    top:12px;
    fill:#1761fd;
  }
